ul,li {
    padding: 0;
}

.bg-review{
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.content-form{
    margin-bottom: 60px;
}

.list-form{
    margin-top: 30px;
    margin-bottom: 60px;
}

.title-review {
    margin-top: 40px;
    text-transform: uppercase;
    color: black;
}

.form-input {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    width: 50%;
}

input {
    border-radius: 10px;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    color: black;
}

/* input:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

input:focus {
    cursor: text;
    color: black;
    background-color: white;
    border-color: #333333;
} */

.textarea {
    background-color: #eeeeee;
    color: black;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    height: 180px;
    transition: all 0.2s;
}

.textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
    border: 2px solid black;
}

.textarea:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
}

.form-select{
    background-color: white;
    color: black;
}
/* 
.form-select:hover {
    cursor: pointer;
    background-color: #eeeeee;
    color: black;
}

.form-select:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
} */


.btn {
    width: 150px;
    position: relative;
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: 400;
    border: 2px solid;
    border-radius: 100px;
    transition: 0.5s;
    text-transform: uppercase;
}

.btn:hover {
    box-shadow: 0 5px 50px 0 #17d97b inset,
    0 5px 50px 0 #17d97b inset;
    font-weight: bold;
    color: black;
}


/* list pendaki */
.name-filter {
    width: 100px;
}

.list-admin{
    padding: 20px;
    border-radius: 40px;
    border: 2px solid;
    margin-bottom: 20px;
    color: black;
}

.list-pendaki{
    padding: 20px;
    border-radius: 40px;
    border: 2px solid;
    margin-bottom: 20px;
    color: black;
}

.random{
    display: flex;
    justify-content: center;
}

.img-random{
    justify-content: center;
    border: 2px solid black;
}

.nama-pendaki {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.review-pendaki {
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
    text-align: justify;
}

.action {
    margin: 0 auto;
    font-size: 30px;
    align-items: center;
    width: 2%;
    &:hover{
        color: red;
        cursor: pointer;
    }
}

.action-modal {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 30px;
    width: 2%;
}

.close-modal {
    margin: 0 25px 0 25px;
    &:hover{
        color: red;
        cursor: pointer;
    }
}

.delete-modal {
    margin: 0 25px 0 25px;
    &:hover{
        color: greenyellow;
        cursor: pointer;
    }
}

.nama-jalur {
    font-size: 18px;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
}

.jalur-pendaki {
    font-size: 18px;
    text-align: center; 
}

@media screen and (max-width: 768px) {
    .title-review{
        margin-top: 30px;
    }

    .form-input{
        width: 100%;
    }

    .filter-option {
        width: 100% !important;
    }

    .action {
        display: flex;
        justify-content: center;
    }
}