@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ms+Madi&family=Quicksand:wght@300&family=Rock+Salt&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}

a {
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.skip-link {
    position: absolute;
    padding: 0.5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    left: 0.5rem;
    transform: translateY(-120%);
    transition: tranform 325ms;
    color: white;
    font-weight: bold;
  }
   
.skip-link:focus {
    transform: translateY(0);
    background-color: #2897C7;
}
  

.title {
    color: white;
    font-size: 25px;
    &:hover{
        color: white;
    }
}

.logo {
    width: 50px;
    height: 50px;
}

.navBar {
    background-color: #1d5460 !important;
}

.nav-link {
    font-size: 25px;
    border-radius: 10px;
    &:hover{
        background-color: #FCE700;
        border-radius: 10px;
        color: black !important;
        font-weight: 800;
        padding: 5px;
    }
}

.slider img {
    height: 500px;
    object-fit: cover;
}

// article 
.article {
    margin-top: 60px;
    margin-bottom: 50px;
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
}

.title-article{
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.desc {
    font-weight: 400;
}

// swiper
.control-swiper {
    padding: 16px;
    margin-top: 60px;
    margin-bottom: 50px;
    border: 3px solid black;
    border-radius: 20px;
    background: url("https://firebasestorage.googleapis.com/v0/b/mini-project-366904.appspot.com/o/assets%2Fswiper.jpg?alt=media&token=80c30561-90a5-4628-ba2c-c5cd75c8dbe7")
        no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.title-swiper {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

// artist
.artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
}

.title-artis {
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.bg-artis {
    width: 100%;
    position: absolute;
    border-radius: 20px;
}

.list-artis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    background-color: #2897C7;
    border-radius: 20px;
    margin: 0 auto;
}

figure {
    margin: 55px 20px 25px 20px;
}

.photo-artis {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.name-artis {
    color: white;
    font-weight: bold;
}

/* map */
.map {
    text-align: center;
    margin-bottom: 50px;
}

.title-map {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

.gmaps {
    width: 80%;
    height: 500px;
    border-radius: 20px;
}

/* last info */

.last-info {
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.info-prau {
    color: black;
    padding: 16px;
    border-radius: 20px;
}

.list-info {
    font-size: 20px;
}

.list-icon {
    margin-right: 5px;
}

.info-jalur {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px;
    color: black;
}

.title-jalur {
    text-transform: uppercase;
    text-align: center;
}

.list-jalur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-jalur {
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.name-jalur {
    color: black;
}

/* Footer */

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Quicksand";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
    &:hover {
        color: aqua;
    }
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media screen and (max-width: 835px) {
    .slider img {
        height: 250px;
        object-fit: cover;
    }

    .skip-link{
        display: none;
    }

    .title-article {
        font-size: 22px;
        text-align: center;
    }

    .desc {
        font-size: 15px;
        font-weight: bold;
    }

    .article {
        margin-bottom: 50px;
    }

    //swiper
    .control-swiper {
        width: 100%;
    }


    // artist
    .artist{
        margin-bottom: 50px;
    }

    .title-artis {
        font-size: 25px;
    }

    .list-artis {
        width: 100%;
        background: url("https://firebasestorage.googleapis.com/v0/b/mini-project-366904.appspot.com/o/assets%2Fartis%2Fbackground.jpg?alt=media&token=5cfbd4aa-de09-44c3-a4bf-9ec980f9bbd6")
        no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border: 3px solid;
    }

    figure {
        margin: 20px 40px 20px 40px;
    }

    .bg-artis {
        display: none;
    }

    .photo-artis{
        border: 2px solid white;
    }

    .name-artis {
        color: white;
    }

    // map
    .map {
        margin-bottom: 50px;
    }

    .title-map{
        font-size: 25px;
    }

    .gmaps {
        width: 100%;
        height: 300px;
        border-radius: 20px;
    }
    
    //info pendakian
    .info-jalur {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
        color: black;
    }

    .icon-jalur {
        height: 120px;
        width: 120px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1280px) {
    .bg-artis {
        margin-top: 10px;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .list-artis {
        background-color: white;
    }
}