.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-profile {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.name-profile {
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.email-profile {
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.list-sosmed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sosmed-profile {
    font-size: 20px;
    margin: 0 15px 15px 15px;
}

.sosmed {
    margin-right: 5px;
}

/* made from */

.madefrom {
    text-align: center;
    margin-bottom: 70px;
}

.title-madefrom {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.list-made {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.card-made {
    display: flex;
    flex-direction: column;
}

.logo-made {
    height: 200px;
    width: 200px;
}

.css {
    height: 200px;
    width: 150px;
}

.jvsript {
    height: 180px;
    width: 180px;
    margin-top: 20px;
}

.react {
    height: 170px;
    width: 190px;
    margin-top: 20px;
}